
#projects{
    position: relative;
    width: 100%;        /* Full width */
    background-color: #f5f5f5; /* Light grey background */
    color: black; 
    margin-bottom: 4vw;
    font-family: 'EB Garamond', serif;
}

#projects .title {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; /* 中心对齐标题 */
    padding-top: 7vw; /* 用padding代替top来定位标题 */
}

.lottie-animation-left {
    position: absolute; 
    top: 0;          
    left: 0;         
    width: 20vw;     
    height: auto;    
    z-index: 10;
    transform: scaleX(-1); /* 水平翻转 */
}

.lottie-animation-right {
    position: absolute; 
    top: 0;          
    right: 0;        
    width: 20vw;     
    height: auto;    
    z-index: 10;
}

.select-width {
    width: 200px;
    font-family: 'EB Garamond', bold;
}

#projects .boxcol{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr)); /* 使用vw单位 */
    grid-row-gap: 2.5vw; /* 设置行间隔 */
    grid-column-gap: 0; /* 设置列间隔为 0 */
    justify-items: center; /* 横向居中对齐单元格内容 */
    align-items: start; /* 纵向居中对齐单元格内容 */
    margin-left: 2%;
    margin-right: 2%;
    
}

#projects .card-img {
    max-height: 20vw;/* 最大高度 */
    width: 100%; /* 设置图片宽度占满容器宽度 */
    height: 18vw; /* 设置高度自适应，保持图片比例 */
    object-fit: cover; /* 保证图片内容完整显示，不被裁剪或拉伸 */
}

#projects .card-container {
    width: 42vw;
  }

#projects .card-description {
    font-size: 1.1em; /* 或者使用像素值，如 '16px' */
}
@media (max-width: 780px){
    #projects .title {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 4vw;
        text-transform: uppercase;
    }

    .lottie-animation-left,
    .lottie-animation-right {
        width: 30vw;
    }

    .select-width {
        width: 150px;
    }

    #projects .boxcol{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr)); /* 使用vw单位 */
        grid-row-gap: 2vw;
        justify-items: center; /* 横向居中对齐单元格内容 */
        align-items: start; /* 纵向居中对齐单元格内容 */
        margin-left: 2%;
        margin-right: 2%;
    }

    #projects .card-container {
        width: 75vw;
      }

    #projects .card-img {
        max-height: 40vw;/* 最大高度 */
        height: 30vw;
    }
    #projects .card-title {
        font-size: 1.3em; /* 或者使用像素值，如 '16px' */
    }

    #projects .card-description {
        font-size: 1em; /* 或者使用像素值，如 '16px' */
    }
}