@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

#blog{
    width: 100%;        /* Full width */
    background-color: white; /* Light grey background */
    color: black; 
    padding-bottom: 10vw;
    font-family: 'EB Garamond', serif;
}

#blog .title {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; /* 中心对齐标题 */
    padding-top: 3vw; /* 用padding代替top来定位标题 */
}

.select-width {
    width: 200px;
}


@media (max-width: 780px){
    #blog .title {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 3vw;
        text-transform: uppercase;
    }
    .select-width {
        width: 150px;
    }
}