#contact{
    width: 100%;        /* Full width */
    background-color: white; /* Light grey background */
    color: black; 
    margin-bottom: 10vw;
}

#contact .title {
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: center; /* 中心对齐标题 */
    padding-top: 3vw; /* 用padding代替top来定位标题 */
}

#contact .contact-icon{
    font-size: 7vw;
    height: 100%;
    display: flex;
    justify-content: center; /* 中心对齐flex项 */
    align-items: flex-start; /* 向上对齐 */
    margin-top: 4.5vw; /* 与标题的间距 */
    gap: 5.5vw; 
}


@media (max-width: 780px){
    #contact .title {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 3vw;
        text-transform: uppercase;
    }
}