@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

#blogdetail{
    width: 100%;        /* Full width */
    background-color: white; /* Light grey background */
    color: black; 
    padding-bottom: 10vw;
    font-family: 'EB Garamond', serif;
}

#blogdetail .blogdetailtitle {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; /* 中心对齐标题 */
    padding-top: 9vw; /* 用padding代替top来定位标题 */
}

.select-width {
    width: 200px;
}

.blogdetailcontent {
    /* Adjust the left and right margin */
    margin-left: 4vw;  /* Set the left margin */
    margin-right: 4vw; /* Set the right margin */
    /* line-height: 1。6; */
    z-index: 10;
    /* font-size: 1vw; */
}
.lottie-animation {
    position: absolute; /* 固定定位 */
    top: 0vw;          /* 屏幕顶部对齐 */
    right: 0;        /* 屏幕右侧对齐 */
    width: 20vw;     /* 视口宽度的百分比作为宽度，根据需要调整 */
    height: auto;    /* 高度自动，保持原始比例 */
    z-index: 9;     /* 确保在其他元素之上 */
  }
  .lottie-animation-flipped {
    position: absolute; 
    top: 0;          
    left: 0;         
    width: 20vw;     
    height: auto;    
    z-index: 9;     
    transform: scaleX(-1); /* 水平翻转 */
  }
  /* .blogdetailcontent p {
    font-size: 2vw; 
    } */

@media (max-width: 780px){
    #blogdetail .blogdetailtitle {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 3vw;
        text-transform: uppercase;
    }
    .blogdetailcontent {
        font-size: 3vw;
    }

    .blogdetailcontent p {
        font-size: 4vw; /* Adjust this value as needed to make <p> text larger */
    }

}

@media (min-width: 1500px){
    .blogdetailcontent p {
        font-size: 1vw; /* Adjust this value as needed to make <p> text larger */
    }
}