@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

#contribution{
    width: 100%;        /* Full width */
    background-color: darkgrey; /* Light grey background */
    color: black; 
    margin-bottom: 0;
    padding-bottom: 3vw;
    font-family: 'EB Garamond', serif;
}

#contribution .contributiontitle {
    text-transform: none;
    font-size: 1.2vw;
    color: white;
    text-align: center; /* 中心对齐标题 */
    padding-top: 1.3vw; /* 用padding代替top来定位标题 */
    
}

#contribution .contributiontitle p {
    margin-top: 0vw;    /* 减少顶部外边距 */
    margin-bottom: 0vw; /* 减少底部外边距 */
    font-weight: bold;
}

@media (max-width: 780px){
    #contribution .contributiontitle {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 4vw;
        text-transform: uppercase;
    }
}
