@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

#about {
    color: black;
    text-align: center; /* 中心对齐标题 */
    padding-top: 7vw; /* 用padding代替top来定位标题 */
    margin-bottom: 10vw;
    font-family: 'EB Garamond', serif;
}

.title {
    font-size: 2vw;
    text-transform: uppercase;
}

/* 新的about-description样式 */
.about-description {
    display: flex; /* 使用flexbox */
    justify-content: center; /* 中心对齐flex项 */
    align-items: center; /* 垂直对齐 */
    margin-top: 3vw; /* 与标题的间距 */
}

.about-description .photo {
    flex: 0 0 35%; /* flex-grow flex-shrink flex-basis */
    margin-left: 15%;
    /* 不再需要background样式，因为我们使用<img>标签 */
}

.about-description .photo img {
    width: 100%; /* 图片宽度占据.photo类的全部宽度 */
    height: auto; /* 高度自动调整以保持图片比例 */
    display: block; /* 避免默认的inline属性造成的任何额外空间 */
}

.about-description .text {
    flex: 0 0 45%; /* 根据需要调整flex-basis的百分比 */
    margin-right: 20%; /* 调整右边距 */
    margin-left: 5%; /* 图片和文字之间的间距 */
    font-size: 1vw;
    text-align: left; /* 如果您希望文本左对齐 */
}

.text h1, .text p {
    margin-left: 0;  /* 移除左边距 */
    padding-left: 0; /* 移除左内边距 */
    /* 如果需要可以在这里指定字体大小等其他样式 */
}



p {
    margin: 1vw; /* 去除默认的段落上下间距 */
    font-size: 1.7vw;
    /* justify to the left */
    justify-self: flex-start; 
    line-height: 2;
}

h1 {
    margin: 2vw; /* 去除默认的标题上下间距 */
    /* justify to the left */
    justify-self: flex-start; 
}

.boxcol{
    height: 100%;
    display: flex;
    justify-content: center; /* 中心对齐flex项 */
    align-items: flex-start; /* 向上对齐 */
    margin-top: 3vw; /* 与标题的间距 */
    gap: 1.5vw; 
}


/* 在屏幕尺寸较大时设置最大字体大小 */
@media (max-width: 780px){
    .title {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 4vw;
        text-transform: uppercase;
    }
    .about-description{
        margin-top: 6vh;
        flex-direction: column;
    }
    
    .about-description .photo {
        flex: 0 20% 35%; /* flex-grow flex-shrink flex-basis */
        margin-left: 6%;
        margin-right: 6%;
        /* 不再需要background样式，因为我们使用<img>标签 */
    }
    .about-description .text{
        font-size: 2.2vw;
    }

    .about-description p{
        font-size: 2.5vw;
    }

    .boxcol{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr)); /* 使用vw单位 */
        grid-gap: 0vw; /* 使用vw单位 */
        justify-items: center; /* 横向居中对齐单元格内容 */
        align-items: start; /* 纵向居中对齐单元格内容 */
        margin-left: 2%;
        margin-right: 2%;
    }
}
