@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* position: fixed; */
    z-index: -1;
}

.cover-text {
    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    text-align: center;
    color: white;
}

.cover-text p {
    font-size: 3vw;
}
.viewCounterCover{
    position: absolute;
    top: 95%;
    right: 2%;
}
/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.25);
} */
@media (max-width: 780px){
    .cover-text {
        font-size: 6vw;
        width: 90%;
        margin: 0 auto;
    }
    .cover-text p {
        font-size: 6vw;
    }
}