@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

#blogdetail{
    width: 100%;        /* Full width */
    background-color: white; /* Light grey background */
    color: black; 
    padding-bottom: 10vw;
    font-family: 'EB Garamond', serif;
}

#blogdetail .blogdetailtitle {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center; /* 中心对齐标题 */
    padding-top: 9vw; /* 用padding代替top来定位标题 */
}

.select-width {
    width: 200px;
}

#blogdetail .boxcol{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr)); /* 使用vw单位 */
    grid-row-gap: 2.5vw; /* 设置行间隔 */
    grid-column-gap: 0; /* 设置列间隔为 0 */
    justify-items: center; /* 横向居中对齐单元格内容 */
    align-items: start; /* 纵向居中对齐单元格内容 */
    margin-left: 2%;
    margin-right: 2%;
    
}

#blogdetail .card-img {
    max-height: 20vw;/* 最大高度 */
    width: 100%; /* 设置图片宽度占满容器宽度 */
    height: 18vw; /* 设置高度自适应，保持图片比例 */
    object-fit: cover; /* 保证图片内容完整显示，不被裁剪或拉伸 */
}

#blogdetail .card-container {
    width: 42vw;
  }

#blogdetail .card-description {
    font-size: 1.1em; /* 或者使用像素值，如 '16px' */
    
}
body {
    background-color: white;
}

.viewCounter{
  text-align: center;
  padding-bottom: 3vw;
}
/* Specific styles for ProList items to apply the font */
.ant-list-item {
    font-family: 'EB Garamond', serif; 
    font-size: 1.6vw;
  }
    
  .ant-pro-list-row-title{
    font-size: 2vw;
  }
  .ant-tag {
    font-family: 'EB Garamond', serif; /* Apply font to tags */
    /* font-size: 1.1vw; */
  }
    
  .ant-tag {
    font-size: 1vw; 
  }
  


@media (max-width: 780px){
    #blogdetail .blogdetailtitle {
        /* font-family: 'Dancing Script', cursive; */
        font-size: 3vw;
        text-transform: uppercase;
    }

    .select-width {
        width: 150px;
    }

    #blogdetail .boxcol{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr)); /* 使用vw单位 */
        grid-row-gap: 2vw;
        justify-items: center; /* 横向居中对齐单元格内容 */
        align-items: start; /* 纵向居中对齐单元格内容 */
        margin-left: 2%;
        margin-right: 2%;
    }

    #blogdetail .card-container {
        width: 75vw;
      }

    #blogdetail .card-img {
        max-height: 40vw;/* 最大高度 */
        height: 30vw;
    }
    #blogdetail .card-title {
        font-size: 1.3em; /* 或者使用像素值，如 '16px' */
    }

    #blogdetail .card-description {
        font-size: 1em; /* 或者使用像素值，如 '16px' */
    }

    .ant-list-item {
        font-family: 'EB Garamond', serif; 
        font-size: 4.5vw;
      }
        
      .ant-pro-list-row-title{
        font-size: 6vw;
      }
      .ant-tag {
        font-family: 'EB Garamond', serif; /* Apply font to tags */
        /* font-size: 1.1vw; */
      }
        
      .ant-tag {
        font-size: 3vw; 
      }
}